<form #myForm="ngForm" (ngSubmit)="onSummit(myForm.value)">

    <label for="fname"></label>
    <input type="text" name="fname" ngModel placeholder="FirstName" #fname="ngModel" required minlength="3">

    <div *ngIf="fname.invalid && (fname.dirty || fname.touched)"
              class="alert">
            <div [ngStyle]="{'color':'red'}" *ngIf="fname.hasError('required')">
              Name is required.
            </div>
            <div [ngStyle]="{'color':'red'}" *ngIf="fname.hasError('minlength')">
              Name must be at least 4 characters long.
            </div>
    </div>

    <br><br>

    <label for="lname"></label>
    <input type="text" name="lname" ngModel placeholder="FirstName" #lname="ngModel" minlength="4" required>

    <div *ngIf="lname.invalid && (lname.dirty || lname.touched)">
      <div [ngStyle]="{'color':'red'}" *ngIf="lname.hasError('required')">
          Name is required.
      </div>

      <div [ngStyle]="{'color':'red'}" *ngIf="lname.hasError('minlength')">
        Name must be at least 4 characters long.
      </div>
    </div>  
    <br><br>

    


    <label for="mobile"></label>
    <input type="text" name="mobile" ngModel placeholder="mobile" #mobile="ngModel" minlength="10" maxlength="10" required>

    <div [ngStyle]="{'color':'red'}" *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
      <div [ngStyle]="{'color':'red'}" *ngIf="mobile.hasError('required')">
          Mobile no is requred.
      </div>

      <div [ngStyle]="{'color':'red'}" *ngIf="mobile.hasError('minlength')">
        Mobile no should be 10 digit long.
      </div>

      <div [ngStyle]="{'color':'red'}" *ngIf="mobile.hasError('maxlength')">
        Mobile no only contain 10 digit.
      </div>
    </div>


    <br><br>

    <button type="submit">Submit</button>
</form>
