.container{
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    padding-top: 0.2px;
}

.nav{
    margin-top:2rem;
    background-color: rgb(86, 64, 108);
    height: 50px;
}

.cart{
    margin-top: 2rem;
    background-color: azure;
    height: 50px;
}