<div class="">
  <form (ngSubmit)="onSubmit()">
    <label for="userId">userId</label>
    <input type="number" name="userId" id="userId" [(ngModel)]="data.userId">
    <br><br>

    <label for="title">title</label>
    <input type="text" name="title" id="title" [(ngModel)]="data.title">
    <br><br>

    <label for="body">body</label>
    <textarea id="w3review" name="body" rows="4" cols="50" [(ngModel)]="data.body">
      </textarea>
    <br><br>

    <button type="submit">Submit</button>
  </form>
</div>