<div class="">
    <h1>SignUp Form</h1>
    <form [formGroup]="signupform" (ngSubmit)="submit()">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" formControlName="username">
        <br><br>

        <label for="email">Email: </label>
        <input type="email" name="email" id="email" formControlName="email">
        <br><br>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" formControlName="password">
        <br><br>

        <button type="submit">Submit</button>

    </form>

    <div class="" *ngIf="signupError" [ngStyle]="{'color':'red'}">
        <p>wrong username and password</p>
    </div>
</div>

<p>want to login</p> <a routerLink="/login">Login</a>